prefix=/Users/sebastiandedeyne/.npm-packages
//registry.npmjs.org/:_authToken=ae4ebe38-da69-4607-bffa-176a59b742c7
registry=https://npm.spatie.be/
//npm.spatie.be/:_authToken="QjcT+YwQ/WfIAdj7W+f5//Oi7v0E3TCNph+6/K1guQs="
ca=null
